body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

select , textarea, input{
    height: 30px;
    border: none;
    width: 300px;
    font-weight: bold;
    display: flex;
    margin-top: 50px;
    margin-left: 600px;
    border-radius: 30px;
}

textarea{
    height: 100px;
    border-radius: 0;
}

input[type="submit"]{
    color: white;
    background-color: black;
}


input[type="submit"]:hover{
    color: white;
    cursor: pointer;
    background-color: brown;
}
